* {
  margin: 0px;
  border: 0px;
  clear: both;
  transition: 150ms;
}

:root {
  --bg: #e2e2e2;
  --fg: #000000;
  --gap: 1rem;
  --font-family: Raleway;
  --link-font-family: Courier;
  --default-font-size: 1rem;
}

html {
  overflow: hidden;
  scroll-behavior: smooth;
  font-family: var(--font-family);
  font-size: var(--default-font-size);
  background-color: var(--bg);
  color: var(--fg);
  fill: var(--fg);
}

body {
  position: relative;
  min-height: 95dvh;
  height: 100svh;
}

svg {
  fill: var(--fg);
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  padding-block: 1em;
}

h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  padding-block: 1rem;
}

ol {
  margin-inline: auto;
  text-align: center;
  list-style-type: none;
}

:any-link {
  color: var(--fg);
  text-decoration: none;
  font-weight: 700;
}

.link:hover {
  /* color: #78B6C8;
  fill: #78B6C8; */
  opacity: 75%;
}

nav {
  position: fixed;
  top: 1em;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  width: 300vw;
  z-index: 100;
}

.logo {
  position: absolute;
  top: 0;
  left: 5vw;
  height: 3rem;
}

.navigation {
  position: absolute;
  left: 15%;
  text-align: center;
  line-height: 3rem;
}

.socialize svg {
  position: absolute;
  right: 205vw;
  height: 3rem;
}

.background {
  width: 100%;
  position: fixed;
  bottom: 0px;
  object-position: bottom;
  object-fit: cover;
  z-index: -1;
}

main {
  width: 100svw;
  height: 100svh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 100%;
  gap: 1rem;
  z-index: +1;
}

.card {
  margin-top: 6rem;
  font-weight: 500;
  width: 100vw;
  height: calc(100vh - 11rem);
  overflow-y: scroll;
}

.card::-webkit-scrollbar {
  display: none;
}

.card {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

:where(nav) ul {
  display: flex;
}

:where(article, section) p,
ol {
  margin-inline: auto;
  padding-inline: 5%;
  line-height: 1.25rem;
  text-align: justify;
  max-width: 40rem;
}
