* {
  margin: 0px;
  border: 0px;
  clear: both;
  
 
}

:root {
  --bg: #e2e2e2;
  --fg: #000000;
  --gap: 1rem;
  --font-family: Raleway;
  --link-font-family: Courier;
  --default-font-size: 1rem;

  overflow: hidden;
}

html{
   transition: 150ms;
  
}

body {
  background-color: var(--bg);
  transition: 150ms;
  
}

nav {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  height: 3rem;
  align-items: center;

  /*dimensions*/
  width: 100svw;


  /*margin+padding*/
  
  padding: 1rem;

  /*navbar text menu properties*/
  & ul.navigation {
    display: flex;
    flex-direction: row;
    gap: 1em;
    height: 2rem;
    text-align: center;
    align-items: center;
    margin: 0 auto;
  }
  
  /*navbar social icons*/
  & > ul.socialize {
    display: flex;
    flex-direction: row;
    gap: 1em;
    height: 2rem;
    padding-inline-end: 4rem;
  }
}

svg {
  height: 100%;
  width: 100%;
}

.logo {
  height: 2.5rem;
}

main {
  display: flex;
  flex-direction: row;
  width: 300svw;
  height: calc(100vh - (5rem + 256px));
  align-items: center;

  

  /*cards*/
  .card {
    
    min-width: 100svw;
    text-align: center;
    align-items: center;
}
}

svg.background {
  position: fixed;
  bottom: -395px;
}
